*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.header{
    background-color: #e5f7f7;
    background-image: url(images/background.png),url(images/developer.png) ;
    background-position: bottom right , left;
    background-repeat: no-repeat;
    
    
}
/* Header and nav Style */
.nav-title{
    font-weight: 800;
    font-size: 60px;
}
.text-primary{
    color: rgb(2, 207, 207);
   outline: black;
}
nav ul  {
    list-style: none;
 display: flex;
 align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
nav li {
    margin-left: 25px;
}
nav a {
    text-decoration: none;
    color: black;
}
.primary-btn{
    padding: 8px 24px;
    background-color: rgb(2, 207,207);
    border: none;
    border-radius: 5px;
    
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}
.kiron{
    height: 500px;
   margin-left: auto;
}
/* Banner Styles */
.banner{margin: 0px 150px;
display: flex;
align-items: center;
}
.banner-title{
    color: rgb(2, 207, 207);
    font-weight: 600;
    font-size: 60px;
    display: flex;
}
.banner-sub-title{
  font-weight: 600;
  font-size: 45px;  
}
.banner-dis{
    color: rgb(99, 99, 99);
    margin-bottom: 40px;
}

.youtube{
    padding: 8px 24px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.Table_01{
    margin-top: 100px;

    margin-left: 40%;
}
.developer-img{
    display: flex;
align-items: center;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
   margin: 130px;
   background-color: #e5f7f7;
   border-radius: 15px;
   padding: 130px 150px;
   text-align: center;
}
.about-me{
text-align: center;
margin-bottom: 30px;
font-size: 35px;
font-weight: 700;
}
.about-des{
color: rgb(90, 90, 90);
font-size: 18px;
}
.about-info-continer{
    display: flex;
    justify-content: space-around;
}
.info{
    font-size: 20px;
    padding-top: 25px;
}
.info-des{
    font-size: 20;
    font-weight: 700;
    color: rgb(15, 0, 0);
}
.info , .info-des {
   
   
}
/* what I Do Style */
.what-i-do{
    text-align: center;
margin-bottom: 50px;
font-size: 35px;
font-weight: 700;

}
.skill-cont{
    display: flex;
    gap: 24px;
}
.skill-titel{
    font-weight: 700;
    margin-top: 30;
    margin-bottom:20px ;
}
.skill-dis{
font-size: 16px;
color: rgb(133, 132, 132);
}
.skill{
    padding: 30px;
    background-color: #faffff;
   box-shadow: 0 5px 50px rgb(226, 226, 226);
}